<h1>30 последних записей</h1>

<ul style='list-style: none'>
  <% @info.each do |i| %>
    <li>
      <p><%= image_tag i.source.favicon, :size => '16x16' %> <%= link_to i.title, i.url %></p>
    </li>
  <% end %>
</ul>
